/* Dark Theme */

/* Main Section */
.main {
    padding: 13px;
    padding-top: 30px;
    display: grid;
    gap: 10px;
    background-color: #1a1a1a;
    color: #fff;
}

/* User Card */
.userCard {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #0d0d0d;
    background-color: #292929;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.userCard>img {
    border-radius: 100%;
}

.userCard p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
}

/* Sections */
.sections {
    margin-bottom: 10px;
}

.sections>p {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-transform: uppercase;
    color: #7a7a7a;
}

.sections a {
    text-decoration: none;
    color: #7a7a7a;
}

.sections:hover a {
    color: #fff;
}

.sections .active {
    background-color: #2a67f4;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

/* Section Element */
.sectionElement {
    padding: 7px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #acacac;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

.sectionElement:hover:not(.active) {
    background-color: #1e1e1e;
    color: #fff;
}

.sectionElement p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
}

.sectionElementName {
    display: flex;
    gap: 10px;
}

/* Skeleton Sidebar */
.skeletonSideBar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0px;
    background-color: #1a1a1a;
    color: #fff;
}

.skeletonSideBar .user {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #0d0d0d;
    background-color: #292929;
}
