.bg_green {
    background-color: #19db2a !important;
    color: white;
}

.bg_green:active {
    background-color: #55f362 !important;
}

.bg_green:disabled {
    background-color: #9ae98f !important;
}


.habitForm{
    padding: 0px;
    margin: 0px;
}
.header{
    padding: 20px;
    padding-bottom: 0px;
}
.header .title{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.body{
    padding: 20px;
}
.body .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.body .form .formGroup{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.body .form .formGroup .label{
    font-size: 12px;
    font-weight: 600;
    color: #727272;
}
.body .form .formGroup .input{
    border: 1px solid #e4e2e2;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
.body .form .formGroup .input:focus{
    outline: none;
}
.body .form .formGroup .input::placeholder{
    color: #000;
    font-size: 12px;
    font-weight: 600;
}
.body .form .formGroup .input[type="checkbox"]{
    width: 15px;
    height: 15px;
    border: 1px solid #e4e2e2;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
.body .form .formGroup .select {
    border: 1px solid #e4e2e2;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
.body .form .formGroup .select:focus{
    outline: none;
}
.body .form .formGroup .select::placeholder{
    color: #000;
    font-size: 12px;
    font-weight: 600;
}
.body .form .formGroup .goal{
    display: flex;
    align-items: center;
    gap: 10px;
}
.body .form .formGroup .goal .goalDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.body .form .formGroup .goal .goalDetails .goalDetailsHeader{
    display: flex;
    align-items: center;
    gap: 10px;
}
.body .form .formGroup .goal .goalDetails .goalDetailsBody{
    display: flex;
    align-items: center;
    gap: 10px;
}
.body .form .formGroup .goal .goalDetails .goalDetailsBody .goalDetailsBodyGroup{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.body .form .formGroup .goal .goalDetails .goalDetailsBody .goalDetailsBodyGroup .label{
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
.body .form .formGroup .goal .goalDetails .goalDetailsBody .goalDetailsBodyGroup .input{
    border: 1px solid #e4e2e2;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
.body .form .formGroup .goal .goalDetails .goalDetailsBody .goalDetailsBodyGroup .input:focus{
    outline: none;
}
.body .form .formGroup .goal .goalDetails .goalDetailsBody .goalDetailsBodyGroup .select{
    border: 1px solid #e4e2e2;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
.body .form .formGroup .options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 3px solid #e4e2e2;
    border-radius: 10px;
    background-color: #f0f0f0;
    overflow: hidden;
}
.body .form .formGroup .options .option{
    padding: 10px;
    width: 10%;
    height: 50px;
    font-size: 12px;
    /* border-radius: 5px; */
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
}
.body .form .formGroup .options .option.active{
    /* border: 1px solid #487bf3; */
    background-color: #487bf3;
    color: #fff;
}
.body .form .formGroup .options .option.inactive{
    /* border: 1px solid #487bf3; */
    color: #000;
}

.footer{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    background-color: #f0f0f0;
}

.footer .submit{
    padding: 8px;
    border-radius: 3px;
    border: 0;
    background-color: #2a67f4;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    gap: 3px;
    cursor: pointer;
    width: 70px;
}
.footer .submit:active{
    background-color: #2a67f4d9;
}
.footer .submit:disabled{
    background-color: #82a4f3d9;
    cursor: not-allowed;
}
.footer .cancelBtn{
    padding: 8px;
    border-radius: 3px;
    border: 0;
    border: 1px solid #cecece;
    background-color: #fff;
    color: #3a3a3a;
    font-size: 13px;
    font-weight: 500;
    gap: 3px;
    cursor: pointer;
    width: 70px;
}