/* Dark Theme */

/* Content Container */
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #f5f5f5;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2b2b2b;
    margin-bottom: 0px;
    width: 100%;
    background-color: #101010;
}

.header .title {
    margin: 0;
    padding: 15px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
}

.header .actions {
    display: flex;
    align-items: center;
    padding-right: 15px;
    gap: 10px;
}

.header .addButton,
.header .editHabitButton,
.header .editDateButton {
    display: flex;
    border-radius: 5px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}

.header .addButton {
    background-color: #2a67f4;
    color: #fff;
}

.header .addButton:hover {
    background-color: #275dda;
}

.header .editHabitButton {
    background-color: #0ccf05;
    color: #fff;
}

.header .editHabitButton:hover {
    background-color: #0bac05;
}

.header .editDateButton {
    background-color: #2a67f4;
    color: #fff;
}

.header .editDateButton:hover {
    background-color: #275dda;
}

/* Habits Section */
.habits {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
}

.habits hr {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    border: 0;
    border-top: 1px solid #2b2b2b;
    width: 100%;
}

.noHabits,
.loading {
    padding: 10px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

/* Habits Sections */
.habitsSections {
    display: flex;
    margin: 10px 20px;
    border-radius: 5px;
    overflow: hidden;
    gap: 0px;
    background-color: #101010;
}

.habitsSections button {
    padding: 10px;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #df4343;
    color: rgb(51, 51, 51);
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.habitsSections button:hover {
    background-color: #2b2b2b;
    color: #f5f5f5;
}

.habitsSections button.active {
    background: #181818;
    color: #f5f5f5;
}

/* Habit Item */
.habit {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0px;
    height: 60px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #2b2b2b;
    color: #f5f5f5;
}

.habit:hover {
    background-color: #202020;
}

.habit.done {
    background-color: #3c3c3c;
}

.habitDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2b2b2b;
    padding: 0px 10px;
    height: 100%;
}

.habitInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.habitInfo .habitIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #f5f5f5;
}

.habitNameContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0px;
    width: 200px;
}

.habitName {
    font-weight: 500;
    margin: 0;
    color: #f5f5f5;
}

.habitActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 150px;
}

.habitFillButton button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #2b2b2b;
    background-color: #2b2b2b;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 500;
    gap: 3px;
    cursor: pointer;
}

.habitFillButton:active button {
    background-color: #1f1f1f;
}

.habitActionButton {
    position: relative;
}

.habitActionButtonIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 5px;
    border-radius: 5px;
    border: 1px solid #2b2b2b;
    background-color: #2b2b2b;
    color: #f5f5f5;
    font-size: 15px;
    cursor: pointer;
}

.habitActionButtonIcon:active {
    background-color: #1f1f1f;
}

.habitActionDropDown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    margin-top: 10px;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
}

.habitActionDropDownItem {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    color: #f5f5f5;
    font-size: 12px;
    cursor: pointer;
    gap: 10px;
}

.habitActionDropDownItem:hover {
    background-color: #333333;
}

.habitProgress {
    position: relative;
    width: 200px;
    background-color: #2b2b2b;
    border-radius: 10px;
    height: 30px;
    overflow: hidden;
}

.habitProgress .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.habitProgressText {
    font-size: 12px;
    color: #7a7a7a;
    margin: 0;
}

.progressDone {
    background-color: #2a67f4;
    height: 30px;
    width: 50%;
    transition: width 0.5s ease-in-out;
}

.habitProgress .progressText {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
}

/* Sub Habits */
.subHabits {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 10px;
    font-weight: 600;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    cursor: pointer;
}

.subHabits:hover {
    color: #575757;
}

.subHabitsContent {
    padding-left: 20px;
}
