.habitActionButton{
    position: relative;
    
}

.habitActionButtonIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e4e2e2;
    background-color: #ffffff;
    color: #7a7a7a;
    font-size: 15px;
    cursor: pointer;
}
.habitActionButtonIcon:active {
    background-color: #d9d9d9;
}
.habitActionDropDown{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.habitActionDropDownItem {
    padding: 8px 10px;
    border-radius: 5px;
    color: #7a7a7a;
    font-size: 12px;
    cursor: pointer;
}
.habitActionDropDownItem:hover {
    background-color: #ffffff;
}

.habitIconItem{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
.habitIconItem svg {
    color: #7a7a7a;
    cursor: pointer;
}