.text_white {
    color: white;
  }
  
.signInButtonContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.signInButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.signInButton:hover {
    background-color: #f0eded;
}

.signInButton:active {
    background-color: #d9d9d9;
}

.googleSignInButton {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0px;
    width: 100%;
    font-weight: 500;
    letter-spacing: 1px;
}

.spinner {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid #e0e0e0;
    border-top-color: #3d3d3d;
    animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formLabel{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-bottom: 5px;
    gap:5px;
}
.formLabel p{
    padding: 0px;
    margin:0px;
    font-size: 15px;
    font-weight: 500;
}

.formLabel input{
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #e9e9e9;
    font-size: 15px;
}
.formSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 15px 10px;
    font-size: 11px;
    font-weight: 600;
    background-color: #2a67f4;
    border: 0;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.formSubmit:hover{
    background-color: #1e4eb8;
}
.formSubmit:active{
    background-color: #1a3d91;
}

.formFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.formFooter a{
    font-size: 15px;
    font-weight: 500;
    color: #2a67f4;
    text-decoration: none;
}
.splitter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}
.errorMessage{
    color: red;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}